$black: #111111;

%general-page-layout{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 60vh;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

%base-shadow{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}

%hover-shadow-on-avatar{
    -webkit-box-shadow: 0px 0px 8px 4px rgba(121, 56, 255, 0.3);
     -moz-box-shadow: 0px 0px 8px 4px rgba(121, 56, 255, 0.3);
     box-shadow: 0px 0px 8px 4px rgba(121, 56, 255, 0.3);
}

%base-title{
    font-size: 20px;
    font-weight: 500;
}