.home{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 30px;
    background-color: aliceblue;
}

.home__inner{
    @extend %general-page-layout;
}

.home-title{
    @extend %base-title;
}