.profile{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 30px;
    background-color: aliceblue;
}

.profile__inner{
    @extend %general-page-layout;
    display: flex;
    flex-direction: column;
}

.profile__user{
    width: 35%;
    border-right: 1px solid rgb(224, 224, 224);
    padding-right: 15px;

    @media(max-width:500px){
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgb(224, 224, 224);
        padding-right: 0px;
        padding-bottom: 20px;
    }
}

.profile-title{
    text-align: center;
    @extend %base-title;
    margin-bottom: 20px;
}

.profile__avatar{
    text-align: center;
}

.profile__avatar-avatar{
    position: relative;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    @extend %base-shadow;
    border-radius: 50%;
    background-color: rgb(247, 249, 255);
    transition: all 0.2s ease 0s;
 

    &:before{
        content: "Изменить";
        opacity: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        z-index: 16;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.589);
        border-radius: 50%;
        transition: all 0.2s ease 0s;
    }

    &:hover{
        @extend %hover-shadow-on-avatar;

        &:before{
            opacity: 1;
        }
    }
    
    img{
         width: 80%;
         object-fit: cover;
    }
}

.profile__info{
    margin-top: 20px;
    font-size: 16px;
}

.profile__info-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.profile__info-col{
   max-width: 100%;
   overflow-wrap: break-word;
}


.profile__info-col:first-child{
    font-weight: 600;
    margin-right: 8px;
}

.profile__content{
    width: 65%;
    padding-left: 15px;

    @media(max-width:500px){
        width: 100%;
    }
}

.profile__user-delete-but{
    color: rgba(255, 0, 0, 0.671);
    font-weight: 500;
    margin: 8px 0px;
    padding-bottom: 1px;
    transition: all 0.2s ease 0s;
    border-bottom: 1px dashed rgba(255, 0, 0, 0.267);

    &:hover{
        color: rgb(255, 0, 0);
        border-bottom: 1px dashed rgb(255, 14, 14);
        
    }
}